/* ----- Body -----*/
.body{
    background-color: #ede0d4;
    /* background-image: url("./images/SEDA/background-night.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    /* background-color: #a8dadc; */
}
/* ----- End Body -----*/
/* ----- Navigation Bar -----*/
#navbarall{
    background-color: rgba(56, 61, 107, 0.558);
}
.logo{
    text-align: right;
    margin-bottom: -6%;
    margin-top: 1.5%;
    margin-right: 0.5%;
}
.image-logo{
    min-width: 30px;
    max-height: 50px;
    padding-right: 10px;
}
#search-button{
    background-color: #ddb892;
    color: #99582a;
}
/* ----- End Navigation Bar -----*/
/* ----- LogIn Page -----*/
.carousel{
    margin-top: 60px;
    margin-left: 20px;
    margin-bottom: 60px;
}
.carousel-image-1{
    min-width: 700px;
    max-height: 850px;
}
.carousel-image-2{
    min-width: 700px;
    max-height: 850px;
}
.carousel-image-3{
    min-width: 700px;
    max-height: 850px;
}
.carousel-image-4{
    min-width: 700px;
    max-height: 850px;
}
.carousel-image-5{
    min-width: 700px;
    max-height: 850px;
}
.carousel-image-6{
    min-width: 700px;
    max-height: 850px;
}
.carousel-image-7{
    min-width: 700px;
    max-height: 850px;
}
.carousel-image-8{
    min-width: 700px;
    max-height: 850px;
}
.carousel-image-9{
    min-width: 700px;
    max-height: 850px;
}
.carousel-image-10{
    min-width: 700px;
    max-height: 850px;
}
.carousel-image-11{
    min-width: 700px;
    max-height: 850px;
}
.carousel-caption{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* color: #f1faee; */
    color: white !important;
    background-color: rgba(0,0,0,0.4);
    
}
#card{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #432818;
    /* background-color: rgba(56, 61, 107, 0.558); */
    /* background-color: rgba(53, 76, 94, 0.558); */
}
.verical-line{
    border-left: 2px solid white;
    height: 408px;
    position: absolute;
    left: 66.4%;
    margin-left: -4px;
    margin-top: -1px;
}
.login-form{
    margin-top: 45px;
    margin-bottom: 30px;
    margin-right: 30px;
    max-width: 500px;
}
.introduction{
    color: white;
}
/* .password-login{
    padding-top: 10%;
} */
.forgot-password-btn{
    color: white;
}
.forgot-password{
    text-align: center;
}
.forgot-password-and-login-div{
    display: flex;
    margin-top: 60px;
}
.login-btn{
    color: white;
    width: 100px;
    margin-left: 85px;
}
.login{
    text-align: center;
}
.copyright-text{
    margin-top: 25%;
    margin-right: 13%;
    text-align: center;
    color: white;
    font-size: small;
}
/* ----- End LogIn Page -----*/
/* ----- Home Page -----*/
/* ----- Home Page left Column -----*/
.home-main-left{
    background-color: #432818;
    color: #ede0d4;
    min-height: 618.5px;
    height: 100%;
    
}
.home-img-logo{
    min-width: 214px;
    max-height: 80px;
    margin-bottom: 5px;    
}
.accordion-all{
    border-radius: 0 !important;
    border: 2px solid ;
    border-color: #432818;
    background-color: #432818;
}
.accordion-tab-body{
    background-color: #ede0d4;
    color: #432818;
    font-size: 15px;
    font-style: normal;
    border-radius: 0 !important;
}
.accordion-body-row{
    border-bottom: 1.5px solid;
    border-color: #432818;
}
/* ----- End Home Page left Column -----*/
/* ----- Home Page right Column -----*/
.home-main-right{
    background-color: #ede0d4;
    color: #ede0d4;
    height: 100%;
}
.header{
    /* margin-left: -12px; */
    background-color: #A36822;     
}
.menu-header-div{
    text-align: right;
    height: 80.4px;
    display: flex;
}
.home-btn{
    position: relative;
    background-color: #bb9457;
    border: none;
    color: white;
    width: 70px;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-right: 15px;   
    margin-left: 800px;
    border-radius: 5px;
}
.inbox-btn{
    position: relative;
    background-color: #bb9457;
    border: none;
    color: white;
    width: 70px;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-right: 27px;   
    border-radius: 5px;
}
#menu-button{
    text-align: center;
    background-color: #bb9457;
    border: none;
    color: white;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-right: 13px;   
    border-radius: 5px; 
}
.home-div-bundee-welcome{
    display: flex;
}
.bundee-clock{
    color: #432818;
    width: 300px;
    margin-top: 10px;
    margin-left: 10px;
}
#bundee-clock-header{
    background-color: #d4a373;
}
#date-time-div{
    display: flex;
    height: 25px;
    margin-top: 4px;
    margin-bottom: 0px !important;
}
.date{
    margin-right: 30px;
    font-size: 13px;
}
.time{
    font-size: 13px;
}
.bundee-clock-title{
    text-align: center;
}
.bundee-clock-body{
    background-color: #fefae0;
    border-radius: 10px;
}
.bundee-clock-text{
    font-size: 13px;
}
.bundee-buttons{
    text-align: center;
    background-color: #bb9457 !important;
    border: none;
    color: white !important;
    height: 40px;
    width: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.punch-span{
    font-size: 13px;
    margin-left: 15px;
}
.welcome-card{
    color: #432818;
    width: 500px;
    height: 110px;
    margin-top: 10px;
    margin-left: 10px;
}
.welcome-body{
    background-color: #fefae0;
    border-radius: 7px;
}
.welcome-text{
    font-size: 13px;
}
#see-announcements-button{
    text-align: center;
    /* background-color: #bb9457 !important; */
    border: none;
    color: #540b0e;
    height: 40px;
    width: 200px;
    margin-top: 25px;
    margin-bottom: 5px;
    font-style: italic;
}
.calendar-card{
    color: #432818;
    width: 225px;
    margin-top: 10px;
    margin-left: 10px;
}
#calendar-header{
    background-color: #d4a373;
}
.calendar-body{
    background-color: #fefae0;
    border-radius: 7px;
}
.calendar-text{
    margin-bottom: 25px;
}
#calendar-seemore-button{
    text-align: center;
    /* background-color: #bb9457 !important; */
    border: none;
    color: #540b0e;
    height: 40px;
    width: 100px;
    margin-top: 25px;
    margin-bottom: 5px;
    font-style: italic;
}
.attendace-leave-credits-div{
    display: flex;
}
.attendace-card{
    color: #432818;
    width: 700px;
    margin-top: 10px;
    margin-left: 10px;
}
#attendace-header{
    background-color: #d4a373;
}
.attendace-body{
    background-color: #fefae0;
    border-radius: 7px;
    height: 240px;
}
#attendace-seemore-button{
    text-align: center;
    /* background-color: #bb9457 !important; */
    border: none;
    color: #540b0e;
    height: 40px;
    width: 200px;
    margin-top: 90px;
    margin-bottom: 5px;
    font-style: italic;
}
.Leave-credits-card{
    color: #432818;
    width: 335px;
    margin-top: 10px;
    margin-left: 10px;
}
#Leave-credits-header{
    background-color: #d4a373;
}
.Leave-credits-body{
    background-color: #fefae0;
    border-radius: 7px;
    height: 240px;
}
#Leave-credits-seemore-button{
    text-align: center;
    background-color: #bb9457 !important;
    border: none;
    color: white !important;
    height: 40px;
    width: 200px;
    margin-top: 60px;
    margin-bottom: 5px;
    margin-bottom: 5px;
}
/* ----- End Home Page right Column -----*/
/* ----- End Home Page -----*/
/* ----- Personal Information Page -----*/
.main-body-card{
    color: #432818;
    width: 1045px;
    margin-top: 10px;
    margin-left: 10px;
}
#main-body-header{
    background-color: #d4a373;
}
.main-body-body{
    background-color: #fefae0;
    border-radius: 7px;
    height: 475px;
}
.first-div{
    display: flex;
}
.first-name-div{
    margin-right: 30px;
}
.first-name-label{
    font-size: 14px;
}
.first-name{
    max-width: 170px;
}
.first-name-form{
    text-align: left;
}
.last-name-div{
    margin-right: 30px;
}
.last-name-label{
    font-size: 14px;
}
.last-name{
    max-width: 170px;
}
.last-name-form{
    text-align: left;
}
.middle-name-div{
    margin-right: 30px;
}
.middle-name-label{
    font-size: 14px;
}
.middle-name{
    max-width: 170px;
}
.middle-name-form{
    text-align: left;
}
.suffix-div{
    margin-right: 30px;
    width: 120px;
}
.suffix-name-label{
    font-size: 14px;
}
.suffix-name-form{
    max-width: 120px;
}
.nickname-div{
    margin-right: 30px;
}
.nickname-label{
    font-size: 14px;
}
.nickname{
    max-width: 170px;
}
.nickname-form{
    text-align: left;
}
.second-div{
    display: flex;
    margin-top: 20px;
}
.contact-number-div{
    margin-right: 30px;
}
.contact-number-label{
    font-size: 14px;
}
.contact-number{
    max-width: 150px;
}
.contact-number-form{
    text-align: left;
}
.email-div{
    margin-right: 30px;
    width: 300px;
}
.email-label{
    font-size: 14px;
}
.email{
    max-width: 300px;
}
.email-form{
    text-align: left;
}
.birthdate-div{
    margin-right: 20px;
    width: 160px;
}
#birthdate{
    border: 1px solid rgba(128, 128, 128, 0.37);
    height: 38px;
    width: 150px;
    border-radius: 5px;
    text-align: center;
}
.birthdate-label{
    font-size: 14px;
}
.gender-div{
    margin-right: 30px;
    width: 120px;
}
.gender-label{
    font-size: 14px;
}
.gender-form{
    max-width: 120px;
}
.third-div{
    display: flex;
    margin-top: 20px;
}
.place-of-birth-div{
    margin-right: 30px;
    width: 450px;
}
.place-of-birth-label{
    font-size: 14px;
}
.place-of-birth{
    max-width: 450px;
}
.place-of-birth-form{
    text-align: left;
}
.country-of-birth-div{
    margin-right: 30px;
    width: 200px;
}
.country-of-birth-label{
    font-size: 14px;
}
.country-of-birth{
    max-width: 200px;
}
.country-of-birth-form{
    text-align: left;
}
.marital-status-div{
    margin-right: 30px;
    width: 160px;
}
.marital-status-label{
    font-size: 14px;
}
.marital-status-form{
    max-width: 160px;
}
.fourth-div{
    display: flex;
    margin-top: 20px;
}
.father-name-div{
    margin-right: 30px;
    width: 200px;
}
.father-name-label{
    font-size: 14px;
}
.father-name{
    max-width: 200px;
}
.father-name-form{
    text-align: left;
}
.mother-name-div{
    margin-right: 30px;
    width: 200px;
}
.mother-name-label{
    font-size: 14px;
}
.mother-name{
    max-width: 200px;
}
.mother-name-form{
    text-align: left;
}
.ethnic-group-div{
    margin-right: 30px;
    width: 200px;
}
.ethnic-group-label{
    font-size: 14px;
}
.ethnic-group{
    max-width: 200px;
}
.ethnic-group-form{
    text-align: left;
}
.religion-div{
    margin-right: 30px;
    width: 200px;
}
.religion-label{
    font-size: 14px;
}
.religion{
    max-width: 200px;
}
.religion-form{
    text-align: left;
}
.fifith-div{
    display: flex;
    margin-top: 20px;
}
.current-address-div{
    margin-right: 30px;
    width: 450px;
}
.current-address-label{
    font-size: 14px;
}
.current-address{
    max-width: 450px;
}
.current-address-form{
    text-align: left;
}
.zip-code-div{
    margin-right: 30px;
    width: 150px;
}
.zip-code-label{
    font-size: 14px;
}
.zip-code{
    max-width: 150px;
}
.zip-code-form{
    text-align: left;
}
.next-btn{
    position: relative;
    background-color: #bb9457;
    border: none;
    color: white;
    width: 70px;
    height: 35px;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 275px;
}
/* ----- Personal Information Page -----*/
/* ----- Second Personal Information Page -----*/
.second-page-first-div{
    display: flex;
    margin-top: 20px;
}
.citizenship-div{
    margin-right: 30px;
    width: 200px;
}
.citizenship-label{
    font-size: 14px;
}
.citizenship-form{
    max-width: 200px;
}
.nationality-div{
    margin-right: 30px;
    width: 200px;
}
.nationality-label{
    font-size: 14px;
}
.nationality-form{
    max-width: 200px;
}
.language-div{
    margin-right: 30px;
    width: 200px;
}
.language-label{
    font-size: 14px;
}
.language-form{
    max-width: 200px;
}
.blood-type-div{
    margin-right: 30px;
    width: 120px;
}
.blood-type-label{
    font-size: 14px;
}
.blood-type-form{
    max-width: 120px;
}
.emergency-concact-header{
    font-size: 20px;
    margin-top: 30px;
}
.second-page-third-div{
    display: flex;
    margin-top: 15px;
}
.emergency-name-div{
    margin-right: 30px;
}
.emergency-name-label{
    font-size: 14px;
}
.emergency-name{
    max-width: 200px;
}
.emergency-name-form{
    text-align: left;
}
.emergency-address-div{
    margin-right: 30px;
    width: 350px;
}
.emergency-address-label{
    font-size: 14px;
}
.emergency-address{
    max-width: 350px;
}
.emergency-address-form{
    text-align: left;
}
.relationship-div{
    margin-right: 30px;
    width: 160px;
}
.relationship-label{
    font-size: 14px;
}
.relationship{
    max-width: 160px;
}
.relationship-form{
    text-align: left;
}
.emergency-contact-number-div{
    margin-right: 30px;
    width: 160px;
}
.emergency-contact-number-label{
    font-size: 14px;
}
.emergency-contact-number{
    max-width: 160px;
}
.emergency-contact-number-form{
    text-align: left;
}
.government-contribution-header{
    font-size: 20px;
    margin-top: 30px;
}
.second-page-fifth-div{
    display: flex;
    margin-top: 15px;
}
.pag-ibig-div{
    margin-right: 30px;
    width: 160px;
}
.pag-ibig-label{
    font-size: 14px;
}
.pag-ibig{
    max-width: 160px;
}
.pag-ibig-form{
    text-align: left;
}
.philhealth-div{
    margin-right: 30px;
    width: 160px;
}
.philhealth-label{
    font-size: 14px;
}
.philhealth{
    max-width: 160px;
}
.philhealth-form{
    text-align: left;
}
.sss-no-div{
    margin-right: 30px;
    width: 160px;
}
.sss-no-label{
    font-size: 14px;
}
.sss-no{
    max-width: 160px;
}
.sss-no-form{
    text-align: left;
}
.tin-no-div{
    margin-right: 30px;
    width: 160px;
}
.tin-no-label{
    font-size: 14px;
}
.tin-no{
    max-width: 160px;
}
.tin-no-form{
    text-align: left;
}
.prev-btn{
    position: relative;
    background-color: #bb9457;
    border: none;
    color: white;
    width: 80px;
    height: 35px;
    border-radius: 5px;
    margin-top: 45px;
    margin-left: 925px;
}
/* ----- Second Personal Information Page -----*/
/* ----- Employment Details Page -----*/
.employment-details-first-div{
    display: flex;
    margin-top: 20px;
}
.employee-id-div{
    margin-right: 30px;
    width: 150px;
}
.employee-id-label{
    font-size: 14px;
}
.employee-id{
    max-width: 150px;
}
.employee-id-form{
    text-align: left;
}
.position-div{
    margin-right: 30px;
    width: 150px;
}
.position-label{
    font-size: 14px;
}
.position-form{
    max-width: 150px;
}
.employment-type-div{
    margin-right: 30px;
    width: 150px;
}
.employment-type-label{
    font-size: 14px;
}
.employment-type-form{
    max-width: 150px;
}
.department-div{
    margin-right: 30px;
    width: 220px;
}
.department-label{
    font-size: 14px;
}
.department-form{
    max-width: 220px;
}
.division-div{
    margin-right: 30px;
    width: 180px;
}
.division-label{
    font-size: 14px;
}
.division-form{
    max-width: 180px;
}
.employment-details-second-div{
    display: flex;
    margin-top: 20px;
}
.company-email-div{
    margin-right: 30px;
    width: 300px;
}
.company-email-label{
    font-size: 14px;
}
.company-email{
    max-width: 300px;
}
.company-email-form{
    text-align: left;
}
.work-arrangement-div{
    margin-right: 30px;
    width: 180px;
}
.work-arrangement-label{
    font-size: 14px;
}
.work-arrangement-form{
    max-width: 180px;
}
.employment-status-div{
    margin-right: 30px;
    width: 120px;
}
.employment-status-label{
    font-size: 14px;
}
.employment-status-form{
    max-width: 120px;
}
.work-location-div{
    margin-right: 30px;
    width: 250px;
}
.work-location-label{
    font-size: 14px;
}
.work-location-form{
    max-width: 250px;
}
.employment-details-third-div{
    display: flex;
    margin-top: 20px;
}
.hire-date-div{
    margin-right: 20px;
    width: 160px;
}
#hire-date{
    border: 1px solid rgba(128, 128, 128, 0.37);
    height: 38px;
    width: 160px;
    border-radius: 5px;
    text-align: center;
}
.hire-date-label{
    font-size: 14px;
}
.regularization-date-div{
    margin-right: 20px;
    width: 160px;
}
#regularization-date{
    border: 1px solid rgba(128, 128, 128, 0.37);
    height: 38px;
    width: 160px;
    border-radius: 5px;
    text-align: center;
}
.regularization-date-label{
    font-size: 14px;
}
.resigned-date-div{
    margin-right: 20px;
    width: 160px;
}
#resigned-date{
    border: 1px solid rgba(128, 128, 128, 0.37);
    height: 38px;
    width: 160px;
    border-radius: 5px;
    text-align: center;
}
.resigned-date-label{
    font-size: 14px;
}
.resigned-remark-div{
    margin-right: 20px;
    width: 400px;
}
.resigned-remark-label{
    font-size: 14px;
}
#resigned-remark{
    max-height: 20px;
}
.approvers-header{
    font-size: 20px;
    margin-top: 30px;
}
.employment-details-fifth-div{
    display: flex;
    margin-top: 20px;
}
.first-approver-empid-div{
    margin-right: 30px;
    width: 150px;
}
.first-approver-empid-label{
    font-size: 14px;
}
.first-approver-empid{
    max-width: 150px;
}
.first-approver-empid-form{
    text-align: left;
}
.first-approver-name-div{
    margin-right: 30px;
    width: 250px;
}
.first-approver-name-label{
    font-size: 14px;
}
.first-approver-name{
    max-width: 250px;
}
.second-approver-name-form{
    text-align: left;
}
.second-approver-empid-div{
    margin-right: 30px;
    width: 150px;
}
.second-approver-empid-label{
    font-size: 14px;
}
.second-approver-empid{
    max-width: 150px;
}
.second-approver-empid-form{
    text-align: left;
}
.second-approver-name-div{
    margin-right: 30px;
    width: 250px;
}
.second-approver-name-label{
    font-size: 14px;
}
.second-approver-name{
    max-width: 250px;
}
.second-approver-name-form{
    text-align: left;
}
/* ----- Employment Details Page -----*/